
.userdata {
  padding: 80px 0px;
}
.userdata p {
  position: relative;
}
.userdata span {
  position: absolute;
  left: 200px;
}
.userdata button {
  margin-top: 30px;
  background: #000;
  border: 1px solid #000;
  color: #fff;
  padding: 11px 29px;
}